#botonSuma{

    width:70px;
    height: 70px;
    font-size: 70px;
}

#botonResta{

        width:70px;
        height: 70px;
        font-size: 70px;
}
#botonMultiplicar{

    width:70px;
    height: 70px;
    font-size: 70px;

}

#botonDivision{
    width:70px;
    height: 70px;
    font-size: 70px;
}

#botonModulo{
    width:70px;
    height: 70px;
    font-size: 70px;
}

#resultado
{
    font-size: 70px;
}
